/* Reset styles */
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    background-color: blue;
    background-image: linear-gradient(to right, #3e3eff, #3d0076);
    padding: 0.5px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.cityInput {
    width: 25%;
    display: block;
    border-bottom: solid black 1px;
}

.cityInput input {
    width: 96%;
    height: 30px;
    padding: 0% 0% 0% 2%;
    border-radius: 5px;
    font-size: large;
}

.cityInput button {
    width: 100%;
    background-color: #93f673;
    margin: 4% 8% 8% 0%;
    padding: 2%;
    border-radius: 5px;
}

.history {
    width: 25%;
    padding-top: 1%;
}

.history button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #73d5f6;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

.history button:hover {
    opacity: 80%;
}

.currentStatus {
    width: 66.6666%;
    margin: 1% 0% 0% 2%;
    padding: 1% 0% 0% 2%;
    border: solid black 1px;
}

/* Add these new styles for the five-day forecast boxes */
.box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: calc(20% - 10px); /* Each box takes 20% width of the parent container with 10px margin on each side */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

/* Style for the container holding the "5-Day Forecast" message */
.fiveDayStatusContainer {
    text-align: center; /* Center the "5-Day Forecast" message */
    padding: 15px 0px 15px 30px;
    height: 30px;
}

.forecastContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Align boxes side-by-side with space between */
    width: 60%; /* Set maximum width to avoid exceeding .currentStatus width */
    margin: auto; /* Center the container horizontally */
}

.forecastContainer .box {
    margin: 4px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and borders within the width calculation */
}

  
  /* Style for each individual forecast box */
  .forecastContainer > div {
    flex: 0 0 calc(20% - 20px); /* Adjust the width of the forecast boxes as needed */
    font-size: small;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and borders within the width calculation */
  }
  